

html[data-theme="dark"] {
    --ge-body-bg: #000;
    --ge-body-color: #fff;
    --ge-btn-border: #00b7ff;
    --ge-btn-border-hover: cyan;
    --ge-colored-div-border: #fffc;

    --ge-checkbox-bg : var(--ge-body-bg);
    --ge-checkbox-checked-bg : var(--ge-btn-border);
    --ge-checkbox-hover-bg : var(--ge-btn-border-hover);
    --ge-checkbox-border : var(--ge-btn-border);
    --ge-checkbox-marker : var(--ge-body-color);
}

html[data-theme="light"] {
    --ge-body-bg: #fff;
    --ge-body-color: #000;
    --ge-btn-border: #00b7ff;
    --ge-btn-border-hover: #00e7e7;
    --ge-colored-div-border: #000c;

    --ge-checkbox-bg : var(--ge-body-bg);
    --ge-checkbox-checked-bg : var(--ge-btn-border);
    --ge-checkbox-hover-bg : var(--ge-btn-border-hover);
    --ge-checkbox-border : var(--ge-btn-border);
    --ge-checkbox-marker : var(--ge-body-color);
}

html {
    --ge-colored-div-size: 70px;
    --ge-box-div-width: calc(var(--ge-colored-div-size) + 30px);
    --ge-padding: 16px;
    --ge-content-div-gap: var(--ge-padding);
    --column-count: 5;
}

body {
    width: calc(var(--ge-box-div-width) * var(--column-count) + var(--ge-content-div-gap) * calc(var(--column-count) - 1) + 2 * var(--ge-padding));
    min-height: 120px;
    display: grid;
    grid-template-rows: 30px 30px 1fr;
    padding: 16px;
    background-color: var(--ge-body-bg);
    color: var(--ge-body-color);
}
.btn {
    border: 1px solid var(--ge-btn-border);
    border-radius: 6px;
    display: grid;
    align-content: center;
    padding: 4px 8px;
}
.btn:hover {
    border: 1px solid var(--ge-btn-border-hover);
}
.hidden {
    display: none;
}
.inline {
    display: inline;
}
.actions-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
a {
    color: var(--ge-btn-border);
}
.text-div {
    padding: 8px 0;
}
.content-div {
    display: grid;
    grid-gap: var(--ge-content-div-gap);
    grid-template-columns: repeat(auto-fit, var(--ge-box-div-width));
}
.colored-div {
    width: var(--ge-colored-div-size);
    height: var(--ge-colored-div-size);
    border: 1px solid var(--ge-colored-div-border);
    border-radius: 2px;
}