

html[data-theme="dark"] {
    --ge-body-bg: #000;
    --ge-body-color: #fff;
    --ge-body-error-color: #e00034;
    --ge-btn-border: #00b7ff;
    --ge-btn-border-secondary: #e00034;
    --ge-btn-border-hover: cyan;
    --ge-colored-div-border: #fffc;
    --ge-message-color: #00e004;

    --ge-checkbox-bg : var(--ge-body-bg);
    --ge-checkbox-checked-bg : var(--ge-btn-border);
    --ge-checkbox-hover-bg : var(--ge-btn-border-hover);
    --ge-checkbox-border : var(--ge-btn-border);
    --ge-checkbox-marker : var(--ge-body-color);


    --popover-bg: transparent;
    --popover-color: #fff;
    --popover-border: transparent;
}

html[data-theme="light"] {
    --ge-body-bg: #fff;
    --ge-body-color: #000;
    --ge-body-error-color: #f00;
    --ge-btn-border: #00b7ff;
    --ge-btn-border-secondary: #ff7b7b;
    --ge-btn-border-hover: #00e7e7;
    --ge-colored-div-border: #000c;
    --ge-message-color: #ec7c00;

    --ge-checkbox-bg : var(--ge-body-bg);
    --ge-checkbox-checked-bg : var(--ge-btn-border);
    --ge-checkbox-hover-bg : var(--ge-btn-border-hover);
    --ge-checkbox-border : var(--ge-btn-border);
    --ge-checkbox-marker : var(--ge-body-color);

    --popover-bg: rgba(0,0,0, 0.5);
    --popover-color: #fff;
    --popover-border: #000;
}

html {
    --ge-colored-div-size: 100px;
    --ge-box-div-width: var(--ge-colored-div-size);
    --ge-padding: 16px;
    --ge-content-div-gap: var(--ge-padding);
    --column-count: 5;
}

body {
    width: calc(var(--ge-box-div-width) * var(--column-count) + var(--ge-content-div-gap) * calc(var(--column-count) - 1) + 2 * var(--ge-padding));
    min-height: 120px;
    display: grid;
    grid-template-rows: 30px 48px 0 1fr;
    padding: 16px;
    background-color: var(--ge-body-bg);
    color: var(--ge-body-color);
}
body.progressbar {
    grid-template-rows: 30px 48px 20px 1fr;
}
.progress-bar-div {
    overflow: clip;
}
progress {
    appearance: auto;
    box-sizing: border-box;
    display: inline-block;
    block-size: 1em;
    inline-size: 10em;
    vertical-align: -0.2em;
    width: 100%;
}
progress[value] {
    --color: var(--ge-btn-border); /* the progress color */
    --background: lightgrey; /* the background color */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    margin: 0;
    border-radius: 10em;
    background: var(--background);
}
progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    background: var(--background);
}
progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color);
}
progress[value]::-moz-progress-bar {
    border-radius: 10em;
    background: var(--color);
}


svg {
    color: var(--ge-body-color);
}
svg path {
    fill:  var(--ge-body-color);
}
.btn {
    border: 1px solid var(--ge-btn-border);
    border-radius: 6px;
    display: grid;
    align-content: center;
    padding: 4px 8px;
    cursor: pointer;
}
.color-label,
.tools-label{
    position: absolute;
    top: -10px;
    z-index: 9999;
}
.btn.secondary {
    border: 1px solid var(--ge-btn-border-secondary);
}
.btn:hover {
    border: 1px solid var(--ge-btn-border-hover);
}
.hidden {
    display: none !important;
}
.inline {
    display: inline;
}
.actions-div {
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    position: relative;
}
.tools-label {
    color: var(--ge-btn-border);
}
.color-label {
    color: var(--ge-btn-border-secondary);
}
a {
    color: var(--ge-btn-border);
}
.text-div {
    padding: 16px 0;
    color: var(--ge-message-color);
}
.content-div {
    display: grid;
    grid-gap: var(--ge-content-div-gap);
    grid-template-columns: repeat(auto-fit, var(--ge-box-div-width));
}
.ge-error-color {
    color: var(--ge-body-error-color);
}

.chip {
    box-shadow: 2px 2px 10px 2px rgb(0 0 0 / 25%);
    transition: transform 0.3s;
}
.chip:hover {
    transform: scale(1.15);
}
.colored-div {
    width: var(--ge-colored-div-size);
    height: var(--ge-colored-div-size);
    border: 1px solid var(--ge-colored-div-border);
    border-radius: 2px;
    cursor: pointer;
}
.color-box-text.hex {
    padding: 4px 0 0 4px;
    font-weight: bold;
    font-size: large;
}
.color-box-text.rgb {
    padding: 4px 0 4px 4px;
}


.margin-left-auto {
    margin-left: auto
}

.not-editable .hidden-when-editable {display: block;}
.not-editable .not-hidden-when-editable {display: none;}
.editable .hidden-when-editable {display: none;}
.editable .not-hidden-when-editable {display: block;}

.if .display-when-if {display: block;}
.if .display-when-else {display: none;}
.else .display-when-if {display: none;}
.else .display-when-else {display: block;}




[popover] {
    display: none;
    position: absolute;
    background-color: var(--popover-bg);
    color: var(--popover-color);
    border: 1px solid var(--popover-border);
    border-radius: 4px;
    padding: 10px;
    z-index: 9999;
    top: 35px;
}


*:hover > [popover] {
    display: block;
}

